{% extends "base.html" %}

{% block extracss %}
{{ block.super }}

#search-form {
  padding-top: 3em;
  padding-bottom: 1em;
}

#search-form input {
  width: 450px;
}

.jumbotron {
  margin-bottom: 55px;
}

{% endblock %}
{% block title %}
Index
{% endblock %}

{% block container %}
<div class="jumbotron">
	<h1>Start discovering good reads!</h1>

  <form class="form-search" id="search-form" action="/books">
    <input type="text" placeholder="Python, java, philosophy" class="input-large search-query" name="q">
    <button type="submit" class="btn btn-info">Search</button>
  </form>

  <p class="lead">Or browse by category.<p>

</div>
  {% for category in object_list %}
      {% if forloop.counter0|divisibleby:"3" or not forloop.counter0 %}
      <div class="row-fluid">
      {% endif %}
        <div class="span4">
          <h3>{{ category|title }}</h3>
          <p>
          {{ category.description|truncatewords:"60" }}
          <p><a class="btn pull-right" href="#">View Books <i class="icon-book"></i></a></p>
        </div>
      {% if forloop.counter|divisibleby:"3" %}
      </div>
      {% endif %}
  {% endfor %}

{% endblock %}


