{% if user.is_authenticated %}
<p class="pull-right">
Hello {{ user.username }},&nbsp;<a href="{% url auth_logout %}?next=/">logout</a>
</p>
{% endif %}
<div class="masthead">
<h3 class="muted">Discover books</h3>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
	<li id="home-li"><a href="{% url books_index %}">Home</a></li>
	<li id="search-li"><a href="{% url books_book_list %}">Search for Books</a></li>
	<li id="categories-li"><a href="{% url books_category_list %}">All Categories</a></li>
    {% if user.is_authenticated %}
	    <li id="registration-li"><a href="{{ request.user.get_absolute_url }}">My Profile</a></li>
    {% else %}
	    <li id="registration-li"><a href="{% url auth_login %}">Login/Register</a></li>
    {% endif %}
      </ul>
    </div>
  </div>
</div>
</div>
